.find-results {
    position: relative;
    z-index: 100;
    margin-top: -3%;
    margin-left: 78%;
    height: 80px;
    width: 80px;
}

.btn-find {
    height: 30%;
    width: 60%;
    font-size: 50%;
    transform: translate(70%, -0%);
    position: absolute;
}